<p>&nbsp;</p>
<h2>HAL9000 / Espionage</h2>

<h3>Core Concepts</h3>
<ul>
  <li>A 'Ninja app' is a state machine that lives in the cloud.</li>
  <li>It can send commands to devices, and it receives data from a device via a 'callback'.</li>
  <li>A 'callback' is a URL you register against a device that the Ninja platform will POST to with data when it receives it. It must be publicly addressable.</li>
  <li>We will authenticate our apps today with your <code>user_access_token</code></li>
</ul>

<!--
http://yuml.me/diagram/scruffy/class/draw
[Device (via Block)]-emits data>[Ninja Platform]
[Ninja Platform]-POSTS data>[Ninja App 1]
[Ninja Platform]-[note: The app registers a callback per device{bg:cornsilk}]
-->
<p><img src="images/app-overview.png" class="uml-diagram"/></p>

<!--
http://yuml.me/diagram/scruffy/class/draw
[Device (via Block)]<-writes data[Ninja Platform]
[Ninja Platform]<PUTs actuation-[Ninja App 1]
-->
<p><img src="images/app-overview-2.png" class="uml-diagram"/></p>


<p>&nbsp;</p>
<h4>Step 1 - get your user_access_token</h4>
<p>You retrieve this in the API tab of the <a target="_blank" href="https://a.ninja.is/hacking">settings page</a>. It is the 'API Access Token'.</p>

<p>&nbsp;</p>
<h4>Step 2 - clone our sample app</h4>
<code><pre>$ git clone https://github.com/thatguydan/nodeph-sample-app.git
$ cd nodeph-sample-app
$ npm install
</code></pre>


<p>&nbsp;</p>
<h4>Step 3 - Edit the app's configuration</h4>
<code><pre>$ vim routes/index.js
</code></pre>

<p>Edit line <a target="_blank" href="https://github.com/thatguydan/nodeph-sample-app/blob/master/routes/index.js#L3-L4">3 & 4</a> inserting the user_access_token retrieved in Step 1 and the GUID of the device (will be demoed on stage).</p>

<p>&nbsp;</p>
<h4>Step 4 - Setup PageKite to tunnel HTTP requests to your local machine.</h4>
<code><pre>
$ curl -s https://pagekite.net/pk/ |sudo bash
</pre></code>
<strong>Important</strong>: after you have signed up, make sure to run pagekite on port 3000, ie:<br />
<code><pre>
$ pagekite.py 3000 your_name_here.pagekite.me
</pre></code>

<p>&nbsp;</p>
<h4>Step 5 - run the app</h4>
<code><pre>$ node app.js
</code></pre>

<p>&nbsp;</p>
<h4>Step 6 - Register a callback against the RGB LED device through PageKite.</h4>
<p>Go back to <a target="_blank" href="https://a.ninja.is/home">the dashboard</a> and find the 'Ninjas Eyes' widget. Click on the cog, and click callback:</p>

<p><img width="300" src="images/callback-widget.png" /></p>

<p>Then add your pagekite url to start receiving callbacks from the Ninja platform. Note in the sample app we have a route for <code>/callback</code>, so you should only need to replace <code>your_name_here</code> in the below screen shot.</p>

<p><img width="300" src="images/callback-modal.png" /></p>


<p>&nbsp;</p>
<h3>Step 7 - Hack around with routes/index.js</h3>
<p>Try adding callbacks against different devices, and actuating other devices.</p>

<p>&nbsp;</p>
<h3>Gotchas</h3>
<ul>
  <li>Every data value through Ninja MUST be a string.</li>
  <li>The RF433 MHz device receives strings that look like binary from multiple 'devices'. Due to this, it is necessary to do string equality on callbacks, looking for a known string.</li>
</ul>
<p>&nbsp;</p>

<h3>Useful links</h3>
<ul>
  <li><a target="_blank" href="https://github.com/ninjablocks/node-ninja-blocks">Nina Blocks Node Library README</a></li>
  <li><a target="_blank" href="http://ninjablocks.com/blogs/news/7061118-dial-o-spresso-a-phone-controlled-coffee-machine">Dial-o-spresso</a> - Ninja powered coffee machine hack. Does not use callbacks (<a href="https://gist.github.com/askpete/3930720"target="_blank">code</a>)</li>
  <li><a target="_blank" href="http://www.youtube.com/watch?v=cedbZiTv0hk">Video tutorial on creating an app in 60 seconds</a></li>
</ul>
