<p>&nbsp;</p>
<h2>Driver Track.</h2>
<p>In this track we are going to hook some hardware up to the Ninja platform. Drivers are pieces of code that run in the Ninja client and present devices to the platform.</p>

<!--
http://yuml.me/diagram/scruffy/class/draw
[Hardware]-[Device Class (lib/Device.js)]
[Device Class (lib/Device.js)]->[Factory (index.js)]
[Device Class (lib/Device.js)]-[note: Instantiated by factory and registered with Driver Controller{bg:cornsilk}]
[Device Class (lib/Device.js)]-[note: emits data and has a write method{bg:cornsilk}]
[Factory (index.js)]-register event>[Driver Controller]

-->
<p><img src="images/driver-overview.png" class="uml-diagram"/></p>

<h3>Getting Started</h3>

<p>&nbsp;</p>
<h4>Step 1 - get the client code</h4>
<code><pre>$ git clone https://github.com/ninjablocks/client.git
$ cd client
$ ./bin/install.sh
</code></pre>


<p>&nbsp;</p>
<h4>Step 2 - get the Ninja CLI tool</h4>
<code><pre>$ npm install -g ninja-toolbelt
</code></pre>


<p>&nbsp;</p>
<h4>Step 3 - create a driver scaffold</h4>
<code><pre>$ ninja create drivers/my-first-driver
$ cd drivers/my-first-driver
$ npm init
$ cd ../..
</code></pre>

<p>&nbsp;</p>
<h4>Step 4 - Run the client code in hacking mode</h4>
<code><pre>$ NODE_ENV=hacking node client
</code></pre>

<p>The start of stdout should look like this:
<code><pre>
$ NODE_ENV=hacking node client
[Mon, 22 Apr 2013 21:18:06 GMT] (DEBUG) Binding default loadToken method
[Mon, 22 Apr 2013 21:18:06 GMT] (DEBUG) Binding default saveToken method
[Mon, 22 Apr 2013 21:18:06 GMT] (DEBUG) Binding default loadSerial method
[Mon, 22 Apr 2013 21:18:06 GMT] (DEBUG) Binding default saveSerial method
[Mon, 22 Apr 2013 21:18:06 GMT] (info) Successfully loaded token from file
[Mon, 22 Apr 2013 21:18:06 GMT] (info) Successfully loaded serial from file
[Mon, 22 Apr 2013 21:18:06 GMT] (info) This Ninja's Serial: <strong>XXXXXXXXXXXXXXXX</strong>
[Mon, 22 Apr 2013 21:18:06 GMT] (info) loadModule: platform
[Mon, 22 Apr 2013 21:18:06 GMT] (DEBUG) versioning: using version callback (platform)
[Mon, 22 Apr 2013 21:18:06 GMT] (info) platform: No device specified
</code></pre>

  <p>Copy the serial number to your clipboard, in this case <strong>XXXXXXXXXXXXXXXX</strong>, you will need it in the next step.</p>

<p>&nbsp;</p>
<h4>Step 5 - pair this client</h4>
<p>Go to <a target="_blank" href="https://a.ninja.is/">a.ninja.is</a> and sign in. When you have reached the home screen, click the 'Pair Block' button in the top right of the screen:</p>

<p><img src="images/pairButton_compact.png" /></p>

<p>Next, paste the serial number you copied in the previous step in the dialogue box and hit "Submit". Your browser should look like this:</p>

<p><img src="images/ConfirmedPairing_medium.png" /></p>

<p>And your client stdout should look like this:
<code><pre>
[Mon, 22 Apr 2013 21:18:10 GMT] (info) Attempting to activate...
[Mon, 22 Apr 2013 21:31:38 GMT] (DEBUG) Attempting to save token to file...
[Mon, 22 Apr 2013 21:31:38 GMT] (info) Successfully saved token to file
[Mon, 22 Apr 2013 21:31:38 GMT] (info) Received authorization, confirming...
[Mon, 22 Apr 2013 21:31:38 GMT] (info) Confirmed authorization
<strong>[Mon, 22 Apr 2013 21:31:38 GMT] (info) Please restart this process to connect!</strong>
➜  client git:(master) ✗
</code></pre>
<strong>Important</strong>: You will need to restart the client in order to connect as a paired client.</p>

<p>&nbsp;</p>
<h4>Step 6 - see your driver on the dashboard</h4>
<p>Go back to <a target="_blank" href="https://a.ninja.is/home">a.ninja.is/home</a>. You should see a widget that looks like this:</p>

<p><img width="300" src="images/widget.png" /></p>

<p>&nbsp;</p>
<h4>Step 7 - look through some sample drivers for inspiration</h4>

<ul>
  <li>Sample driver: <a target="_blank" href="https://github.com/elliots/ninja-xbmc">XBMC Driver</a></li>
  <li>Sample driver: <a target="_blank" href="https://github.com/wandergeek/linux-cpu">Report CPU usge</a></li>
  <li>Sample driver: <a target="_blank" href="https://github.com/nexxy/ninja-isight">Mac iSight Driver</a></li>
  <li>Sample driver: <a target="_blank" href="https://github.com/thatguydan/ninja-hue">Controlling Philips Hue</a></li>
  <li>Sample driver: <a target="_blank" href="https://github.com/faulkner/ninja-wifi-scanner">Wifi Scanner that reports analytics about nearby wifi devices</a></li>
</ul>

<p>&nbsp;</p>
<h3>Gotchas</h3>
<ul>
  <li>DA (data value) MUST be a string</li>
  <li>G (port/channel) MUST be a string</li>
  <li>V (vendor ID) MUST be a number</li>
  <li>D (device ID) MUST be a number</li>
</ul>