<h1>Code Dump</h1>
<big><a href="https://github.com/thatguydan/nodeph-doc">Pull requests go here</a></big>
<br /><br />
<h1>Node.PH Ninja Blocks Workshop</h1>
<p>Welcome! Here is quickstart information to get you up and running as quickly as possible. Please click the track you are running on the top right.</p>

<!--
http://yuml.me/diagram/scruffy/class/draw
[Actuator C]-[Driver C]
[Sensor B]-[Driver B]
[Sensor A]-[Driver A]
[Driver C]->[Ninja Block]
[Driver B]->[Ninja Block]
[Driver A]->[Ninja Block]
[Ninja Block]<->[Ninja Platform]
[Ninja Platform]<->[Ninja App 1]
[Ninja Platform]<->[Ninja App 2]
-->

<p><img src="images/main-overview.png" class="uml-diagram"/></p>
